<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Senior Technical Lead</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">
          Result Oriented IT Professional with 10 years experience, specializing in latest technology stack such as Angular 4/5 with Node JS.
          I have comprehensive problem-solving abilities with enthusiasm to learn the latest technologies.
          My strengths include skills in teamwork, leadership, self-motivation with excellent customer communication capabilities.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#skills">Get Started!</a>
      </div>
    </div>
  </div>
</section>
