<section class="p-0" class="timeline" >
  <ul>
    <li>
      <div>
        <time>Oct, 2016 - Travelled Onshore - U<i class="fa fa-usd" ></i>  <i class="fa fa-plane" ></i>
          <br>Senior Technical Lead
        </time>
        Started working at Genpact (Headstrong) LLC, Richardson, Texas.
      </div>
    </li>
    <li>
      <div>
        <time>Mar, 2014 - New Job <i class="fa fa-industry"></i> <br>Technical Lead
        </time>
        Started working at Genpact Headstrong Capital Markets. Noida, India.
      </div>
    </li>
    <li>
      <div>
        <time>2013 - Master's Degree <i class="fa fa-graduation-cap" ></i>
        </time> Masters in Business Administration, Major: Information Technology. SMU-DE, India.
      </div>
    </li>
    <li>
      <div>
        <time>Oct, 2011 - New Job <i class="fa fa-laptop"></i>
          <br>Senior Software Engineer
        </time> Started working at HCL Technologies. Noida, India.
      </div>
    </li>
    <li>
      <div>
        <time>Sept, 2010 - Professional Cert. <i class="fa fa-book"></i>
        </time> Oracle Certified Web Component Developer (OCWCD)
      </div>
    </li>
    <li>
      <div>
        <time>Dec, 2009 - Professional Cert. <i class="fa fa-book"></i>
        </time> Sun Certified Java Programmer (SCJP)
      </div>
    </li>
    <li>
      <div>
        <time>Nov, 2008 - First Job  <i class="fa fa-id-badge" > </i> <i class="fa fa-inr"></i>
          <br>Software Engineer
        </time>Started working at Infosys Technology. Mysore, India.
      </div>
    </li>
    <li>
      <div>
        <time>June, 2008 - Graduated <i class="fa fa-university"></i></time>
        Bachelor of Technology, Major: Electronics & Communication. UP Technical University, India.
      </div>
    </li>
  </ul>
</section>
