<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Ready to start your next project with me? That's great! Give me a call or send an email and I will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 ml-auto text-center">
        <a href="tel:281-940-6230"> <i class="fa fa-phone fa-3x mb-3 sr-contact" ></i> </a>
        <p>
          <a href="tel:281-940-6230">281-940-6230</a>
        </p>
      </div>
      <div class="col-lg-3 mr-auto text-center">
        <a href="mailto:gaurav64bit@gmail.com"> <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i></a>
        <p>
          <a href="mailto:gaurav64bit@gmail.com">gaurav64bit@gmail.com</a>
        </p>
      </div>
      <div class="col-lg-3 mr-auto text-center">
        <a href="https://www.linkedin.com/in/gauravkds/"> <i class="fa fa-linkedin fa-3x mb-3 sr-contact"></i></a>
        <p>
          <a href="http://bit.ly/gauravli">LinkedIn</a>
        </p>
      </div>
      <div class="col-lg-3 mr-auto text-center">
        <a href="https://github.com/gauravjss"> <i class="fa fa-github fa-3x mb-3 sr-contact"></i></a>
        <p>
          <a href="http://bit.ly/gauravgit">GitHub</a>
        </p>
      </div>
    </div>
  </div>
</section>
