<section class="p-0 padding-t10" id="portfolio">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">What I have Done</h2>
    <hr class="my-4">
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../assets/img/portfolio/fullsize/pl.jpg">
          <img class="img-fluid" src="../assets/img/portfolio/thumbnails/pl.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                CVS Health
              </div>
              <div class="project-name">
                Pharmacy Locator
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../assets/img/portfolio/fullsize/refills.jpg">
          <img class="img-fluid" src="../assets/img/portfolio/thumbnails/refills.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                CVS Health
              </div>
              <div class="project-name">
                Refill Prescriptions
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../assets/img/portfolio/fullsize/cdc.jpg">
          <img class="img-fluid" src="../assets/img/portfolio/thumbnails/cdc.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                CVS Health
              </div>
              <div class="project-name">
                Check Drug Cost
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../assets/img/portfolio/fullsize/innovation.jpg">
          <img class="img-fluid" src="../assets/img/portfolio/thumbnails/innovation.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                CVS Health
              </div>
              <div class="project-name">
                Innovation Labs
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../assets/img/portfolio/fullsize/lego.jpg">
          <img class="img-fluid" src="../assets/img/portfolio/thumbnails/lego.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Lego Systems
              </div>
              <div class="project-name">
                B2B - eCommerce Portal
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../assets/img/portfolio/fullsize/6.jpg">
          <img class="img-fluid" src="../assets/img/portfolio/thumbnails/6.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
