<app-navigation></app-navigation>

<app-header></app-header>

<app-about></app-about>

<app-skills></app-skills>

<app-portfolio></app-portfolio>

  <div class="container padding-t10" id="timeline" >
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">My Professional Events</h2>
      <hr class="my-4">
    </div>
    <div class="container">
    </div>
    <app-timeline></app-timeline>
  </div>
<!--<section class="bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
    <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
  </div>
</section>-->

<app-contact></app-contact>
