<div class="timeline bg-saffron">

  <div class="timeline-item">
    <div class="timeline-content">
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa fa-plane fa-lg padding-im"></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Oct, 2016 - Travelled Onshore - US
        <br>Senior Technical Lead</p>
      <br>
      <p>Started working at Genpact (Headstrong) LLC, Richardson, Texas.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa fa-industry fa-lg padding-im"></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Mar, 2014 - New Job
        <br>Technical Lead</p>
      <br>
      <p> Started working at Genpact Headstrong Capital Markets. Noida, India.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa fa-graduation-cap fa-lg padding-im" ></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2013 - Master's Degree</p>
      <br>
      <p>
        Masters in Business Administration, Major: Information Technology. SMU-DE, India.
      </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa fa-laptop fa-lg padding-im"></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Oct, 2011 - New Job   <br>Senior Software Engineer</p>
      <br>
      <p>
        Started working at HCL Technologies. Noida, India.
      </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa fa-book fa-lg padding-im"></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Sept, 2010 - Professional Cert.</p>
      <br>
      <p>
        Oracle Certified Web Comp. Developer (OCWCD) - 94%
      </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa fa-book fa-lg padding-im"></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Dec, 2009 - Professional Cert.</p>
      <br>
      <p>
        Sun Certified Java Programmer (SCJP) - 91%
      </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa fa-id-badge fa-lg padding-im" > </i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Nov, 2008 - First Job  <br>Software Engineer</p>
      <br>
      <p>Started working at Infosys Technology. Mysore, India.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fa fa-university fa-lg padding-im"></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">June, 2008 - Graduated </p>
      <br>
      <p>Bachelor of Technology, Major: Electronics & Communication. UP Technical University, India.</p>
    </div>
  </div>
</div>
